.about-container {
  font-family: Arial, sans-serif;
  color: #333;
}

.hero-section {
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 0.849);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-section h1 {
  font-size: 5em; 
  margin: 0;
}

.content-section {
  padding: 20px;
  align-content: center; 
}

.owner-section,
.team-section {
  display: flex;
  align-items: center;
  margin: 40px 0; 
}

.text {
  max-width: 950px;
  align-content: center;
  line-height: 1.6;
}

.text h2 {
  font-size: 3.1em; 
  margin-top: 0;
}

.text h3 {
  font-size: 2.2em; 
  margin-top: 20px; 
}

.text p {
  font-size: 1.3em; 
  margin: 30px 0;
  text-align: justify; 
}

.text strong {
  font-weight: bold; 
}
